body {
  margin-top: 0px;
  background-color: aquamarine;
  display: flex;
  background-image: url("penmanship-2561217_1920.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  display: flex;
  
}

.contracts {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-wrap: wrap;
  
  
}

.contract {
  border: 1px solid black;
  width: 100px;
  margin-top: 10px;
  padding-left: 5px;
  margin-right: 5px;
  padding-top: 5px;
  background-color: rgb(136, 192, 128);
  border-radius: 30px;
  box-sizing: border-box;
  overflow-wrap: break-word;
  
}
.dropmenu {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
  margin-top: 10px;
}

.submitform {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 400px;
  margin-top: 30vh;

  margin-left: 70vh;
}
.login {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-right: 20px;
}
textarea {
  resize: none;
}
.contractcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid rgba(12, 12, 20, 0.704);
  margin-bottom: 10px;
  border-radius: 10px;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.company {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
  margin-bottom: 20px;
  background-color: rgb(164, 128, 128);
  border-radius: 20px;
  min-width: 65%;
  width: 70%;
  border: 2px solid black;
}
h2 {
  margin-left: auto;
  margin-right: auto;
  text-decoration: underline;
  word-break:break-all;
  
}
button {
  border-radius: 20px;
}

.okBtn {
  margin-top: 10px;
}
@media (min-width: 768px){
  .contracts{flex-direction: row;}
  .company{width: 20%;
  max-width: 24%;
  min-width: 250px;
  background-color: lightgrey}
}
